* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(120deg, #6a11cb, #2575fc);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background: #fff;
  padding: 25px;
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);*7
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #2575fc;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.checkbox-group {
  display: flex;
  align-items:center;
  gap:8px;
  margin-top: 15px;
  justitfy-content:flex-start;
}

.checkbox-group input{
width: 16px;
height: 16px;
cursor: pointer;
}
.checkbox-group label{
  cursor: pointer;
  font-size: 14px;

}
.profile-avatar{
    display: flex;
    justify-content: center;
}
   .profile-avatar img{
    width :100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #1a5ed8
    background: #fff

  }

button:hover {
  background: #1a5ed8;
}

.error {
  color: red;
  font-size: 14px;
}

.success {
  color: green;
  text-align: center;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.link a {
  color: #2575fc;
  text-decoration: none;
}
